<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
        <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {{> navbar}}

        <section class="section">
            <div class="container">
                <h1 class="title has-text-centered">{{title}}</h1>
                <div class="columns is-multiline">
          {{#each links}}
          <div class="column is-one-quarter">
            <div class="card has-text-centered">
              <div class="card-content">
                <span class="icon is-large">
                  <i class="fas fa-{{this.icon}} fa-2x"></i>
                </span>
                <h2 class="title is-5">{{this.server_name}}</h2>
                <p>
                  <a href="{{this.link}}" target="_blank">{{this.link}}</a>
                </p>
                <br />
                <span
                  class="tag is-medium
                    {{#if (eq this.status "online")}}is-success{{/if}}
                    {{#if (eq this.status "offline")}}is-danger{{/if}}
                    {{#if (eq this.status "unknown")}}is-light{{/if}}"
                >
                  {{this.status}}
                </span>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
            </div>
        </section>
    </body>
</html>
