<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>

        <meta property="og:title" content="LeftLane Community" />

        <link rel="icon" href="/images/LLfavicon.ico" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/navbar.css" />

        <link rel="stylesheet" href="/public/styles/main.css" />
        <link rel="stylesheet" href="/public/styles/navbar.css" />
        
    </head>
    <body>
        <h1 class="title">mattiner.org</h1>
        <p class="subtitle">
            Just a simple place for my
            Personal Projects
        </p>

        <div class="table table-container">
            <h2>Links to other projects</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each links}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td><a href="{{this.url}}" target="_blank">{{this.url}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    
        
        
    </body>
    </html>