<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{title}}</title>

        <meta property="og:title" content="LeftLane Community" />

        <link rel="icon" href="/images/LLfavicon.ico" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/navbar.css" />

        <link rel="stylesheet" href="/public/styles/main.css" />
        <link rel="stylesheet" href="/public/styles/navbar.css" />
        
    </head>
    <body>
        <h1 class="title">mattiner.org</h1>
        <p class="subtitle">
            Just a simple place for my
            Personal Projects
        </p>

        <div class="message message-header">More Is Coming Soon
            <a class="message message-body">Please stay tunned</a>
        </div>
        
    </body>
    </html>