<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Public Transportation</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    </head>
    <body>
        {{>navbar}}
        <script>
            window.va =
                window.va ||
                function () {
                    (window.vaq = window.vaq || []).push(arguments);
                };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Transit Navigator</h1>
                <p class="lead">This Time Relax, Take the Train</p>
            </div>

            <div class="row">
                <h2 class="display-5">Get Stops Along Route</h2>
                <p class="lead">Orange County Line</p>
            </div>
            <div class="station-data"></div>
            <table class="table text-center table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Sunrise</th>
                        <th scope="col">Sunset</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                    </tr>
                </thead>
                <tbody id="transit-route-body"></tbody>
            </table>

            <table class="table text-center table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Station ID</th>
                        <th scope="col">Station Name</th>
                    </tr>
                </thead>
                <tbody id="transit-stops-body"></tbody>
            </table>
            <script src="/public/scripts/transit.js"></script>
        </div>
    </body>
</html>
