<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="station-data">
        E
    </div>

    <script>

        function loadStopData() {
            const stopId = "1293510977";
            const url = `https://transit.land/api/v2/rest/stops/${stopId}`;
            const stationDiv = document.querySelector(".station-data");
            fetch(url, {
                "method": "GET",
                "headers": {
                    "apikey": "WOo9vL8ECMWN76EcKjsNGfo8YgNZ7c2u"
                }
            })
                .then((res) => res.json())
                .then((data) => {
                    const stop = data.stop;
                    const table = document.createElement("table");
                    table.className = "table table-sm";
                    const rows = [
                        ["NAME", stop.name]
                    ];
                    for (const [label, value] of rows) {
                        const tr = document.createElement("tr");
                        tr.innerHTML = `<th>${label}</th><td>${value}</td>`;
                        table.appendChild(tr);
                    }
                    stationDiv.innerHTML = ""; // clear placeholder
                    stationDiv.appendChild(table);
                });
        }
        document.addEventListener("DOMContentLoaded", loadStopData());

    </script>
</div>
</body>
</html>