<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Weather Forecast</title>
        <link href="/public/styles/weather.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        {{>navbar}}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/public/scripts/clock.js"></script>

        <h1>Weather Test</h1>
        <div id="clockcontainer">
            <div id="clock"></div>
            <div id="date"></div>
        </div>
        <div class="container">
            <div id="weather-output">Loading...</div>

            <canvas id="forecastChart" width="600" height="300"></canvas>
            <table class="forecastTable">
                <thead></thead>
                <tbody id="forecast-body">
                    <!-- JS will inject rows here -->
                </tbody>
            </table>

            <table id="daily-weather-table" class="weatherTable">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Sunset</th>
                        <th>Sunrise</th>
                        <th>High</th>
                        <th>Low</th>
                    </tr>
                </thead>
                <tbody id="daily-weather-body">

                </tbody>
            </table>
        </div>
        <script src="/public/scripts/weather.js"></script>
    </body>
</html>
