html {
    background-color: black;
    color: aqua;
}
h1 {
    color: deeppink;
    text-align: center;
}
h2 {
    color: #f014ff;
    font-family: "Comic Sans MS", fantasy;
    text-align: center;
    text-shadow: 2px 2px 5px red;
}
.supriseLink {
    color: aqua;
    text-decoration: none;
}
.investorPfp {
    width: 100px;
    height: 100px;
    float: right;
}
.investment {
    font-family: SansSerif, serif;
    border: 2px solid red;
}
.image2 {
    width: 150px;
    height: 100px;
}
.buttonicon {
    width: 64px;
    height: 64px;
}
#welcome {
    border: 2px dashed aqua;
    text-align: center;
}
table {
    background-color: #f014ff;
    border: coral;
    width: 100%;
    text-align: center;
}