@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
  --odesa-primary-color: #e90004;
  --odesa-secondary-color: #f5f5f5;
  --odesa-accent-color: #f0ac0b;
}

body {
  padding: 50px;
  background-color: var(--odesa-secondary-color);
  color: var(--odesa-primary-color);
}
.title {
  text-align: center;
  font-weight: bold;
}
.subtitle {
  text-align: center;
  color: var(--odesa-accent-color);
  font-weight: bold;
}

.announcement {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
}

/* columns layout */
.columns {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  background: white;
  padding: 20px;
  margin: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 250px;
  transition: transform 0.3s;
}
.column:hover {
  transform: scale(1.05);
}

/* status */
.status {
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}
/* Dynamic Status Colors */
.status-active {
  background-color: green;
  color: white;
}

.status-inactive {
  background-color: red;
  color: white;
}

.status-na {
  background-color: gray;
  color: white;
}

/* Icon Styling */
.material-icons {
  font-size: 40px;
  color: var(--odesa-primary-color);
  margin-bottom: 10px;
}

/* Icon Styling */
.material-icons {
  font-size: 50px;
  color: var(--odesa-primary-color);
  display: block;
  margin: 10px auto;
}

/* Button Styling */
.view-button {
  background-color: var(--odesa-primary-color);
  color: var(--odesa-secondary-color);
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background 0.3s;
}

.view-button:hover {
  

/* Description Styling */
.description {
  font-size: 14px;
  margin-top: 10px;
  color: black;
}
